Repository chef/homebrew-chef, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/jex-team, @chef/docs-team

Bump chef to 16.17.51
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.9.52
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Add a desc field to infra client
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Run the tests on ruby 3
  .expeditor/verify.pipeline.yml
Owners: @chef/jex-team

Link to the community tools page for workstation
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Deprecate DK in the description
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Fix the DK download link
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Update descriptions per the docs
  Casks/chef-infra-client.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Make the ChefDK cask dep on Workstation
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Remove the stage_only config in DK
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Remove the download in DK
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Remove uninstall logic from chefdk
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Casks fail without a url
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Provide a non-redirect url
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Try again
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Put the real download back
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef-workstation to 22.2.802
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update hash to match Chef download site for ARM
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-workstation to 22.2.807
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update chef-workstation.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 4.56.17
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump inspec to 5.7.9
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 17.10.0
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 4.56.19
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump inspec to 5.10.5
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 17.10.3
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 22.4.861
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 5.12.2
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Fix M1 architecture incorrect sha256. As per DCO sign off methods, invoking the Chef Obvious fix Policy
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Correct the arm64 sha value, update per homebrew main cask repo
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chefstyle fixes
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chefstyle fixes
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 4.56.20
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump inspec to 5.14.0
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 16.18.0
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 22.5.923
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update correct SHA for ARM64
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 5.17.4
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef-workstation to 22.6.973
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-workstation to 22.7.1006
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                               @chef/chef-foundation-owners @chef/chef-foundation-approvers @chef/chef-foundation-reviewers
Casks/chef-workstation.rb       @chef/chef-workstation-owners @chef/chef-workstation-approvers @chef/chef-workstation-reviewers
Casks/chef-infra-client.rb      @chef/chef-infra-owners @chef/chef-infra-approvers @chef/chef-infra-reviewers
.expeditor/                     @chef/jex-team
*.md                            @chef/docs-team
