Repository chef/homebrew-chef, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/jex-team, @chef/docs-team

sync with main cask defn, update to new version
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chefstyle fix
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 5.18.14
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef-workstation to 22.10.1013
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 18.0.169
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 18.0.185
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 18.1.0
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 22.12.1024
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 16.18.30
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Revert "Bump chef to 16.18.30"
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 18.2.7
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 5.22.3
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef-workstation to 23.5.1039
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-workstation to 23.7.1042
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove deprecated appcast stanza and implement livecheck
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 18.3.0
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Updating Chef Cask for 17.10.95 release
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Updating Chef Cask for 17.10.114 release
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Updating Homebrew for 18.4.2 release
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump for 18.5.1
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Use macOS 11 metadata
  .expeditor/update_version.sh
Owners: @chef/jex-team

Bump chef to 18.5.0
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.10.163
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Update for 18.7.3
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Fix lint and comment cask syntax
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Fix Moneterey spelling
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

updated for 18.7.6
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

correcting the mac version constraint
  .expeditor/update_version.sh
Owners: @chef/jex-team

Bump chef to 18.7.10
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 5.23.6
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

cask update for 18.8.54 and rake task to update
  Casks/chef-infra-client.rb
  Rakefile
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Add standard SECURIT Y.md template
  SECURITY.md
Owners: @chef/docs-team

Replace CONTRIBUTING.md file with standard template for chef
  CONTRIBUTING.md
Owners: @chef/docs-team

Removed SLA from README.md
  README.md
Owners: @chef/docs-team

Replace CODE_OF_CONDUCT.md with standard template
  CODE_OF_CONDUCT.md
Owners: @chef/docs-team

Update arm for infra 18.9.4 release. Make Intel version static
  Casks/chef-infra-client.rb
  Rakefile
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Manual copyright updates
  COPYRIGHT.md
  README.md
Owners: @chef/docs-team

Removed SLA from README.md (#304)
  README.md
Owners: @chef/docs-team

Add standard SECURIT (#302)
  SECURITY.md
Owners: @chef/docs-team

Replace CODE_OF_CONDUCT.md with standard template (#305)
  CODE_OF_CONDUCT.md
Owners: @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                               @chef/chef-foundation-owners @chef/chef-foundation-approvers @chef/chef-foundation-reviewers
Casks/chef-workstation.rb       @chef/chef-workstation-owners @chef/chef-workstation-approvers @chef/chef-workstation-reviewers
Casks/chef-infra-client.rb      @chef/chef-infra-owners @chef/chef-infra-approvers @chef/chef-infra-reviewers
.expeditor/                     @chef/jex-team
*.md                            @chef/docs-team
