Repository chef/homebrew-chef, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers, @chef/jex-team, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                               @chef/chef-foundation-owners @chef/chef-foundation-approvers @chef/chef-foundation-reviewers
Casks/chef-workstation.rb       @chef/chef-workstation-owners @chef/chef-workstation-approvers @chef/chef-workstation-reviewers
Casks/chef-infra-client.rb      @chef/chef-infra-owners @chef/chef-infra-approvers @chef/chef-infra-reviewers
.expeditor/                     @chef/jex-team
*.md                            @chef/docs-team

Bump inspec to 4.41.2
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 17.4.25
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.4.38
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 4.41.20
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef-workstation to 21.9.612
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-workstation to 21.9.613
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 16.15.22
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.5.22
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 4.46.13
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 16.16.7
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.6.15
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.6.18
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 16.16.13
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 21.10.640
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 17.7.22
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump inspec to 4.49.0
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Bump chef to 17.7.29
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 21.11.679
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 16.17.4
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

add desc & indentation fixed per style
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec to 4.50.3
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Update chef-workstation.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update chef-infra-client.rb
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Update chef-workstation.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update README.md
  README.md
Owners: @chef/docs-team

Update chef-workstation.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update for macOS 10.15
  .expeditor/update_version.sh
Owners: @chef/jex-team

Bump chef-workstation to 22.1.745
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update to 4.52.9 Signed-off-by: Mykel Alvis <mykel.alvis@gmail.com>
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Add Intel vs ARM condition
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 16.17.39
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef to 17.9.42
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Bump chef-workstation to 22.1.778
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update community slack link
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.md
Owners: @chef/docs-team

DK actually requires mojave or later
  Casks/chefdk.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

InSpec actually requires catalina
  Casks/inspec.rb
Owners: @chef/chef-foundation-owners, @chef/chef-foundation-approvers, @chef/chef-foundation-reviewers

Fix download link in infra client cask
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers

Update Workstation to 22.1.778
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update chef-workstation.rb
  Casks/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef to 17.9.46
  Casks/chef-infra-client.rb
Owners: @chef/chef-infra-owners, @chef/chef-infra-approvers, @chef/chef-infra-reviewers
